{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'align-center',
  ]

%}
{# {% set x = content.field_color %} #}
<div class='row careers-area'
{% block paragraph %}
  {{ attributes.addClass(classes) }}>
  {# {{ kint(content.field_color) }} #}
    {% block content %}
    {# Displays center, but image is not centered #}
    {# {% if content.field_banner_image %}
        <div class="col-sm-6 text-center">
            <h2 class="main-header-w">{{ content.field_banner_title}}</h2>
            <p>{{ content.field_banner_content|raw }}</p>  
            {% if content_field_banner_link %}
                <div class="btn btn-primary">
                {{ content.field_banner_link}}
                </div>
            {% endif %}
        </div>
        <div class="col-sm-6 text-center">
            {{content.field_banner_image}}
        </div>
    {% else %}
    <div class="text-center">
        <h2 class="main-header-w">{{ content.field_banner_title}}</h2>
        <p>{{ content.field_banner_content|raw }}</p> 
            {% if content_field_banner_link %}
                <div class="btn btn-primary">
                {{ content.field_banner_link}}
                </div>
            {% endif %}
    </div>
    {% endif %} #}
    {# Displays as if everything is there #}
                <div class="col-sm-6 text-center">
                  <h2 class="main-header-w">{{ content.field_banner_title}}</h2>
                  <p>{{ content.field_banner_content|raw }}</p>
                  <div class="btn btn-primary">
                    {{ content.field_banner_link }}
                  </div>
                </div>
                <div class="col-sm-6 text-center">
                  {{ content.field_banner_image}}
                </div>





        {# {{kint(content.field_color)}} #}
        {# {% set $color = $node->field_color->getFieldDefinition()->getLabel(); %} #}
    
      {# <h2>{{ content.field_title }}</h2>
      <button class="btn btn-primary btn-success" style="color: white, text-decoration: none;">
      {{ content.field_link }}
      </button>
      <div id ="bannerImg" style="width: 300px">
        {{ content.field_image }}
      </div>
      {{ content.field_body }}
    </div> #}
    {% endblock %}
  {# </div> #}
{% endblock paragraph %}
