#dbTable > tbody {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#dbTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* padding-top: 25px; */
}

#dbTable h4 {
    padding-top: 15px;
}

#dbTable > tbody > tr > td, #dbTable > tbody > tr > th {
    border: 1px solid #ddd;
    padding: 8px;
}

#dbTable > tbody > tr:nth-child(even){
    background-color: #f2f2f2;
}

#dbTable > tbody > tr:hover {
    background-color: #ddd;
}

#dbTable > tbody > tr > th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.tableFixHead { 
    overflow-y: auto; 
    /* height: 100px; */
 }

.tableFixHead thead th { 
    position: sticky; top: 0; 
}