#dbTable > tbody {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#dbTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#dbTable > tbody > tr > td, #dbTable > tbody > tr > th {
    border: 1px solid #ddd;
    padding: 8px;
}

#dbTable > tbody > tr:nth-child(even){
    background-color: #f2f2f2;
}

#dbTable > tbody > tr:hover {
    background-color: #ddd;
}

#dbTable > tbody > tr > th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}