#edit-actions {
    display: none;
}

#content_import_fields_change_wrapper {
    float: left;
}

#dbTable > tbody {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#dbTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* padding-top: 25px; */
}

#dbTable h4 {
  padding-top: 15px;
}

#dbTable > tbody > tr > td,
#dbTable > tbody > tr > th {
  border: 1px solid #ddd;
  padding: 8px;
}

#dbTable > tbody > tr:nth-child(even) {
  background-color: #f2f2f2;
}

#dbTable > tbody > tr:hover {
  background-color: #ddd;
}

#dbTable> tbody > tr > th {
  padding-top: 12px;
  padding-bottom: 12px;
  /* text-align: left;
  background-color: #4caf50;
  color: white; */
  color: #d5dde5;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 16px;
  /* font-weight: 100; */
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

.tableFixHead {
  overflow-y: auto;
  /* height: 100px; */
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}

  