/**
 * @file
 * Subtheme specific CSS.
 */

 @import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

 .field--name-field-source iframe {
    height: 100vh;
  }

  .field--name-field-demo iframe {
    height: 100vh;
  }

  /* The following was generated from copying the selector path in Chome DevTools */
  /* #content > section > article > div > div.field.field--name-field-source.field--type-iframe.field--label-hidden.field__item.quickedit-field > iframe
  {
    height: 100vh;
  } */
  
  /* .header > .nav-bar > .nav-link {
    color: #fffeff !important;
  }

  #block-bootstrap-barrio-subtheme-account-menu > ul > a {
    color: #fffeff !important;
  }

   */
  #navbar-top.navbar-dark .nav-link {
    color: rgba(255, 255, 255, 0.5) !important;
    background-color: transparent;
}

.openSans {
  font-family: 'Titillium Web', sans-serif !important;
}

#main-wrapper {
  overflow: hidden;
}

#content > section > article > div > * {
  font-family: 'Open Sans', sans-serif !important;
}
/* 
.content > .openSans > * {
  font-family: 'Open Sans', sans-serif !important;
} */



div#backgroundImage{
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://source.unsplash.com/1600x900/?dogs);
  background-size: cover;
  height: 80vh;
  /* width: 100vw; */
  margin-left: -50%;
  margin-right: -50%;
  overflow: hidden;
}

div#titleOverlay {
  position: absolute;
  top: 15%;
  /* The above used to be 30% but I changed the style on 
  the home page so I need to update it to 15%*/
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 3rem;
  width: 100%;
}
div#titleOverlay h1 {
  /* text-transform: uppercase; */
  margin: 0;
  font-size: 3rem;
  /* white-space: nowrap; */
  /* white-space:  */
}
div#divCentered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.backgroundImage {
  width: 100% !important;
  -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%) !important;
}
.myAPITable {
  overflow-x: scroll;
  width: 100%;
}

/* BEGINNING OF FEATURE STYLING */
#featuresContainer > div > div.field__items > div:hover {
  filter: grayscale(0%);
  opacity: 1;
  /* margin-top: -5px; */
/*   box-shadow: 0px 18px 22px -15px rgba(0,0,0,0.3); */
}
  #featuresContainer > div > div.field__items > div{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: .6;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    transition: .6s;
    float: left;
    width: 10rem;
    display: flex;
    justify-content: center;
    margin: 0 auto 15px;
  }

#featuresContainer > div > div {
  float: left;
  display: flex;
  justify-content: space-between;
  width: 100%;

}
#featuresContainer > div {
  width: 100%;
  margin-bottom: 20px;
}
  /*END OF FEATURE STYLING*/

  /*BEGINNING OF BANNER*/
  .divider-banner {
    /* width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    text-align: center; */
    padding: 25px;
  }
  
  .divider-banner h2 {
    /* margin-top: 0; */
    padding-bottom: 10px;
    font-size: 36px;
  }

  .divider-banner img {
    width: 500px;
    height: 300px;
  }

  .careers-area {
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    /* linear-gradient(to right, #3CD3AD, #4CB8C4)|Sea Weed */
/* background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); */
/* linear-gradient(to right, #2F80ED, #56CCF2)|Blue Skies */
/* linear-gradient(to right, #eb3349, #f45c43)|Cherry */
    color: #fff !important;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 35px 5%;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -24px;
    margin-bottom: 15px;
  }
  .careers-area > div {
    /* margin-left: 25%; */
  }
  .careers-area img {
    max-height: 225px;
    width: auto;
    margin: 0 auto;
  }
  .careers-area p {
    font-size: 18px;
    font-weight: 400;
  }
  .careers-area h2 {
    color: #fff;
  }
  .careers-area p {
    color: #ececec;
  }
  .careers-area button {
    text-align: center;
    margin: 40px 15px;
  }
  .careers-area a {
    color: white !important;
    text-decoration: none;
    text-decoration-line: none;
  }
  .careers-area .btn-link {
    border: none;
    font-weight: bold;
    font-size: 22px;
    padding-left: 0px;
  }
  .careers-area .btn-link a {
    color: #ececec;
  }
  .careers-area .btn-link:hover {
    color: #fff;
    transition: ease-in-out .3s;
  }
  
  /* end of banner */

  /* menu styling */
  nav#block-mymenu-2 {
    /*     background: aquamarine; */
        /* background: #007bff; */
        background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);
    }
    nav#block-mymenu-2 > ul > li > a{
    /*     background: red */
    }
    
    nav#block-mymenu-2  li > a{
        color:aliceblue;
    }
    
    li > a.nav-link {
        border: 1px;
    /*     color:  */
    }
    
    #block-mymenu-2 > ul > li > ul > li {
        background-color: #1d84c3;
        opacity: .4;
        color: #007bff
    }
    
    
    #block-mymenu-2 > ul > li > ul > li > a {
        color: whitesmoke;
    }
    /* end of menu styling */

 /*Superfish override*/
    #superfish-my-menu  * {
      color: white;
    }
    #superfish-my-menu > li > ul {
      background: #007bff;
  }
   .sf-sub-indicator {
     display: none;
   }
  /*end of superfish overrride */

  /*Hide page title on landing page*/
  /* #block-bootstrap-barrio-subtheme-page-title  {
    display: none;
  } */

  /*fix dev article */
  #articleComment > section {
    display: inline-block;
  }

  #block-bootstrap-barrio-subtheme-content > div > article > div > div.field.field--name-field-testing.field--type-entity-reference-revisions.field--label-hidden.field__items.quickedit-field > div > div > div > div.field__items > div > div > div.field.field--name-field-media-image.field--type-image.field--label-visually_hidden.quickedit-field > div.field__item > a > img {
    width: 100%;
    height: 100%;
}
  /*end dev article */



  /* custom card styling */
  #views-bootstrap-grid-test-block-1 > div > div > div > span > div > div.card-body {
    background: red!important;
    height: 400px;
}


.myCard {
  height: 400px;
}

#page > div.featured-top > aside > section {
  display: block;
  margin-top: -35px;
}

#block-recentnode > div.content > div > div > div.card-body {
  height: 400px;
}

#block-recentnode > h2 {
  padding-bottom: 15px;
}

#block-recentnode {
  /* margin-left:-50px; */
  /* margin-right:-50px; */
  padding: 25px;
  /* width: 100vw; */
  background: linear-gradient(to right, #eb3349, #f45c43);
  color: #fff !important;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 35px 5%;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: -35px !important;
}

#block-views-block-recent-dev-articles-block-1 > div.content > div > div > div.view-content.row > div > ul > li > div {
  margin: 0px;
}

#block-views-block-recent-dev-articles-block-1 {
  /* margin-left:-50px; */
  /* margin-right:-50px; */
  padding: 25px;
  /* width: 100vw; */
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  color: #fff !important;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 35px 5%;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: -35px !important;
}

#block-views-block-recent-dev-articles-block-1 > h2 {
  padding-bottom: 15px;
}



#page > div.featured-bottom > aside > section.row.region.region-featured-bottom-second {
  display: block;
  margin-top: -35px;
}

#block-recentnode-2 > div.content > div > div > div.card-body {
  height: 400px;
}

#block-recentnode-2 > h2 {
  padding-bottom: 15px;
}

#block-recentnode-2 {
  /* margin-left:-50px; */
  /* margin-right:-50px; */
  padding: 25px;
  /* width: 100vw; */
  background: linear-gradient(to right, #eb3349, #f45c43);
  color: #fff !important;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 35px 5%;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: -35px !important;
}

#block-views-block-recent-dev-articles-block-1-2 > div.content > div > div > div.view-content.row > div > ul > li > div {
  margin: 0px;
}

#block-views-block-recent-dev-articles-block-1-2 {
  /* margin-left:-50px; */
  /* margin-right:-50px; */
  padding: 25px;
  /* width: 100vw; */
  /* background: linear-gradient(to right, #2F80ED, #56CCF2); */
  background: linear-gradient(to right, #3CD3AD, #4CB8C4);
  color: #fff !important;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 35px 5%;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: -35px !important;
}

#block-views-block-recent-dev-articles-block-1-2 > h2 {
  padding-bottom: 15px;
}


/* carousel styling for recent content */
#views-bootstrap-recent-resources-page-1 > div > div.carousel-item.active {
  width:500px;
  height:500px;
}




/* DB Query Styling */
#dbTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#dbTable td, #dbTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#dbTable tr:nth-child(even){background-color: #f2f2f2;}

#dbTable tr:hover {background-color: #ddd;}

#dbTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/* The above is straight from wschools, the following is the alterations 
I had to do to make this work */


#dbTable > tbody {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#dbTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#dbTable > tbody > tr > td, #dbTable > tbody > tr > th {
  border: 1px solid #ddd;
  padding: 8px;
}

#dbTable > tbody > tr:nth-child(even){background-color: #f2f2f2;}

#dbTable > tbody > tr:hover {background-color: #ddd;}

#dbTable > tbody > tr > th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/*END OF DB QUERY STYLING*/


/* Tags styling for resources */
.b10_tveffect div {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 50px;
}

/* .buttons {
  margin: 10%;
  text-align: center;
  display: border-box;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
} */

.b10_tveffect div:nth-child(1) {
  color: #000000;
  background-color: #ffffff;
  -webkit-transition: all 0.1s ease;
  padding: 10px;
  border: #000000 solid 1px;
}

.b10_tveffect div:nth-child(2) {
  overflow: hidden;
}

.b10_tveffect div:nth-child(2) div {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
  border: #000000 hidden 1px;
}

.b10_tveffect div:nth-child(2) div:nth-child(1) {
  color: rgba(200, 120, 120, 0.8);
  opacity: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAF0lEQVQIW2NkwAIYgWKS6OIgQQxAoUoAE4AAUnD/0ugAAAAASUVORK5CYII=) repeat;
}

.b10_tveffect div:nth-child(2) div:nth-child(2) {
  color: rgba(120, 200, 120, 0.8);
  opacity: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAF0lEQVQIW2NkwAIYgWKS6OIgQQxAoUoAE4AAUnD/0ugAAAAASUVORK5CYII=) repeat;
}

.b10_tveffect div:nth-child(2) div:nth-child(3) {
  color: rgba(120, 120, 200, 0.8);
  opacity: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAF0lEQVQIW2NkwAIYgWKS6OIgQQxAoUoAE4AAUnD/0ugAAAAASUVORK5CYII=) repeat;
}

.b10_tveffect:hover div:nth-child(1) {
  color: #ffffff;
  background-color: #000000;
  transition: color 0s ease;
  -webkit-transition: color 0s ease;
  -moz-transition: color 0s ease;
  transition: background-color 0.3s ease 0.2s;
  -webkit-transition: background-color 0.3s ease 0.2s;
  -moz-transition: background-color 0.3s ease 0.2s;
}

.b10_tveffect:hover div:nth-child(2) div:nth-child(1) {
  animation: b10_tveffect_red 0.25s linear;
  -webkit-animation: b10_tveffect_red 0.25s linear;
  -moz-animation: b10_tveffect_red 0.25s linear;
}

.b10_tveffect:hover div:nth-child(2) div:nth-child(2) {
  animation: b10_tveffect_green 0.25s linear;
  -webkit-animation: b10_tveffect_green 0.25s linear;
  -moz-animation: b10_tveffect_green 0.25s linear;
}

.b10_tveffect:hover div:nth-child(2) div:nth-child(3) {
  animation: b10_tveffect_blue 0.25s linear;
  -webkit-animation: b10_tveffect_blue 0.25s linear;
  -moz-animation: b10_tveffect_blue 0.25s linear;
}

@-webkit-keyframes b10_tveffect_red {
  from,
  to {
      opacity: 0;
  }
  25% {
      opacity: 1;
      -webkit-transform: scale(1.8, 1.6) translate(-10px, 3px) skewX(30deg);
  }
  50% {
      opacity: 1;
      -webkit-transform: scale(1.5, 1.2) translate(20px, 6px) skewX(5deg);
  }
  75% {
      opacity: 1;
      -webkit-transform: scale(0.9, 1.8) translate(-16px, -1px) skewX(-20deg);
  }
}

@-webkit-keyframes b10_tveffect_green {
  from,
  to {
      opacity: 0;
  }
  25% {
      opacity: 1;
      -webkit-transform: scale(1.3, 1.5) translate(3px, 6px) skewX(25deg);
  }
  50% {
      opacity: 1;
      -webkit-transform: scale(1.6, 1.1) translate(-16px, -5px) skewX(-15deg);
  }
  75% {
      opacity: 1;
      -webkit-transform: scale(1, 1.8) translate(18px, 4px) skewX(15deg);
  }
}

@-webkit-keyframes b10_tveffect_blue {
  from,
  to {
      opacity: 0;
  }
  25% {
      opacity: 1;
      -webkit-transform: scale(1.2, 1.4) translate(-10px, -3px) skewX(-25deg);
  }
  50% {
      opacity: 1;
      -webkit-transform: scale(1.9, 1.1) translate(16px, 3px) skewX(5deg);
  }
  75% {
      opacity: 1;
      -webkit-transform: scale(1.3, 2) translate(-30px, -3px) skewX(20deg);
  }
}

@-moz-keyframes b10_tveffect_red {
  from,
  to {
      opacity: 0;
  }
  25% {
      opacity: 1;
      transform: scale(1.8, 1.6) translate(-10px, 3px) skewX(30deg);
  }
  50% {
      opacity: 1;
      transform: scale(1.5, 1.2) translate(20px, 6px) skewX(5deg);
  }
  75% {
      opacity: 1;
      transform: scale(0.9, 1.8) translate(-16px, -1px) skewX(-20deg);
  }
}

@-moz-keyframes b10_tveffect_green {
  from,
  to {
      opacity: 0;
  }
  25% {
      opacity: 1;
      transform: scale(1.3, 1.5) translate(3px, 6px) skewX(25deg);
  }
  50% {
      opacity: 1;
      transform: scale(1.6, 1.1) translate(-16px, -5px) skewX(-15deg);
  }
  75% {
      opacity: 1;
      transform: scale(1, 1.8) translate(18px, 4px) skewX(15deg);
  }
}

@-moz-keyframes b10_tveffect_blue {
  from,
  to {
      opacity: 0;
  }
  25% {
      opacity: 1;
      transform: scale(1.2, 1.4) translate(-10px, -3px) skewX(-25deg);
  }
  50% {
      opacity: 1;
      transform: scale(1.9, 1.1) translate(16px, 3px) skewX(5deg);
  }
  75% {
      opacity: 1;
      transform: scale(1.3, 2) translate(-30px, -3px) skewX(20deg);
  }
}


.buttons {
  margin: 15px;
  margin-top: 5px;
  text-align: center;
  display: border-box;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
      background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
     background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}


.field__item.btn-hover.color-6.text-white {
  padding-top: 15px;
  text-align: center;
  color: white !important;
  float:left;
  width: 105px !important;
  /* text-decoration: none; */
}

.field__item.btn-hover.color-6.text-white > a {
  /* padding-top: 15px; */
  text-align: center;
  color: white !important;
  /* text-decoration: none; */
}